@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: linear-gradient(90deg, #464444 0%, #616269 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control input {
  border: 2px solid #00000044;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control span {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  color: blue;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #2c2727;
  border: 2px solid black;
  color: white;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.form-control.sucess input {
  border-color: green;
}

.form-control.error input {
  border-color: red;
}

.form-control.sucess .material-icons-outlined {
  border-color: green;
  color: green;
  visibility: visible;
}

.form-control.sucess .material-icons-outlined {
  border-color: red;
  color: red;
  visibility: visible;
}
